@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0C4A60;
  height: auto;
}

.separator {
  position: relative;
  top: -1px;
  margin-top: 2rem;
  left: 0;
  width: 75%;
  height: 1px;
  background-color: rgb(114, 255, 255);
}

.separator2 {
  position: relative;
  top: -1px;
  margin-top: 2rem;
  left: 0;
  width: auto;
  height: 1px;
  background-color: rgb(114, 255, 255);
}


@media (max-width: 768px) {
  .show {
    display: flex;
    flex-direction: column-reverse;
  }
  
}
